<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funcionarios</title>
</head>
<body>
    <h1>Funcionários</h1>
    <form th:action="@{/salvarfuncionario}" method="POST">
        <h3>Nome</h3>
        <input type="text" name="nome" />
        <h3>Salario</h3>
        <input type="number" name="salario" />
        <h3>Data de Nascimento</h3>
        <input type="text" name="dataNasc" />
        <h3>Departamento</h3>
        <input type="text" name="departamento" />
        
        <input type="submit" value="Cadastrar" />
    </form>
    <h1></h1>
    <table width="500" border = "2px">
        <tr>
            <td width="100" height="30">ID</td>
            <td width="100" >Nome</td>
            <td width="100" >Salario</td>
            <td width="100" >Data de Nascimento</td>
            <td width="100" >Departamento</td>
        </tr>
         <tr th:each= "funcionario: ${funcionarios}">
             <td th:text="${funcionario.id}"></td>
             <td th:text="${funcionario.nome}"></td>
             <td th:text="${funcionario.salario}"></td>
             <td th:text="${funcionario.dataNasc}"></td>
             <td th:text="${funcionario.departamento}"></td>
         </tr>
     </table>
</body>
</html>